body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6CFCB;
}

.container {
    width: 100%;
    padding: 40% 30%;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10%;
    text-align: left;
    gap: 5px;
}

.container h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.register-form {
    display: none;
}

/* comment added 4/10/26 */
